body{
    background-color: yellowgreen;
}
img{
    width: 150px;
    transform: translate(0, 150px);
    transition: all 5s;
}
img:hover{
    z-index: 100;
    transform: rotate(780deg) scale(2, 2);
}